.gap{
    width: 100%;
    height: 75px;
}
.header {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li :not(.drop-down-item) {
    display: inline;
}

.header-container {
    display: flex;
    padding-left: 30px;
    padding-right: 24px;
    height: 100%;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.menu-body {
    display: flex;
    flex-grow: 1;
}

.menu-list {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 32px;
}

.menu-list .menu-item {
    cursor: pointer;    
}

.menu-left-list {
    flex-grow: 1;
    justify-content: center;
}

.icons-container {
    width: 47px;
    height: 48px;
}

.icons-container img {
    width: 100%;
    height: 100%;
}

.header-logo-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 18px;
}

.header-menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 23.5px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 0.8em;
}

a:active {
    color: #FF8A8A;
    text-shadow: hsla(0, 100%, 77%, 0.5) 0px 0px 6px;
}

.drop-down-button{
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    width: 70px;
    height: 51px;
}
.bar{
    height: 10px;
    width: 100%;
    background-color:#FF8A8A;
    border-radius: 10px;
}

.drop-down-list{
    display: none;
    height:fit-content;
    width: 320px;
    border-top: 1px solid #d1d1d1;
    border-radius: 0 0 12px 0;
    box-shadow: 0px 2px 3px rgb(139, 139, 139);
}

.drop-down-item{
    display: block;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
}

.drop-down-text{
    padding-left: 3rem;
    padding-top: 22px;
    font-size: 17pt;
    font-weight: 450;
    color: rgb(0, 0, 0);
}

.last-drop-down-item {
    border-radius: 0 0 12px 0;
    border-bottom: 0px;
}

.drop-down-item:hover{
    background-color: #d8d8d8;
}

@media screen and (max-width: 1200px) {
    
    .drop-down-button{
        display: flex;
    }
     .menu-left-list{
        display: none;
     }
     .menu-right-list{
       margin-left: auto; 
     }
     .drop-down-list{
        display: block;
    }
     
 }

