<div class="card" [@itemState]="state" (mouseenter)="hover()" (mouseleave)="leave()">
    <img class="clickable" [src]="product?.imageUrl" style="width: 100%" routerLink="/product/{{product?.id}}">
    <div class="info">
        <p class="clickable" routerLink="/product{{product?.id}}">{{product?.name}}</p>
        <h2>{{product?.price | currency}}</h2>
    </div>
    <div class="actions" [ngClass]="{'hidden': actionsHidden}">
        <app-plus-minus-button></app-plus-minus-button>
        <button mat-button mat-icon-button class="addToCart" (click)="addToCart()">В кошик
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</div>