<mat-card class="filter">
    <div class="header">
        <h2>Фільтри</h2>
        <button mat-button class="close" (click)="Drawer.toggle()">Закрити
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-card-content>
        <div style="margin-top: 16px">
            <mat-accordion>
                
              <app-flowers-type-filter (SelectedFlowerTypesChanged)="SelectedFlowerTypesChangeHandler($event)"></app-flowers-type-filter>

                <mat-divider></mat-divider>

              <app-products-price-filter></app-products-price-filter>

                <mat-divider></mat-divider>

              <app-products-type-filter></app-products-type-filter>

              </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>