.header{
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(230, 163, 170, 0.6);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
}

.header-container{
    display: flex;
    padding-left: 30px;
    padding-right: 24px;
    height: 100%;
    align-items: center;
}

.header-menu{
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.menu-body{
    display: flex;
    flex-grow: 1;
}
.menu-list{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 32px;
}
.menu-list .menu-item{
    cursor: pointer;
}
.menu-left-list{
    flex-grow: 1;
    justify-content: center;
}
.icons-container{
    width: 47px;
    height: 48px;
}
.icons-container img{
    width: 100%;
    height: 100%;
}
.header-logo-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 18px;
}
.header-menu{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 23.5px;
    line-height: 18px;
}

.footer{
    background-color: #FF8A8A;
    height: 450px;
    width: 100%;
    position: absolute;
    left:0;
    bottom: 0;
}

.footer-container{
    display: flex;
    flex-direction: column;
    margin: 106px 318px;
    color: #FFFFFF;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.footer-column{
    display: flex;
    flex-direction: column;
}
.contacts{
    justify-content: flex-end;
}
.footer-logo-text{
    margin-top: 25px;
}
.locations-container{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    gap: 5px;
}
.locations-container .column-item{
    display: flex;
    align-items: center;
}
.locations-container .column-item img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-bottom: 3px;
}
.contacts-container{
    gap: 7px;
}
.footer-logo-text{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.locations{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.locations-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}
.navigation{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 43px;
    justify-content: space-between;
    opacity: 0.75;
}
.social-links .container{
    display: flex;
}
.social-link{
    display: flex;
    align-items: center;
    opacity: 0.75;
}
.social-links .container .instagram{
    margin-left: 15px;
}
.last-row{
    margin-top: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;  
}
.copyright{
    opacity: 0.65;
}
.navigation .column-item{
    cursor: pointer;
}
.social-link{
    cursor: pointer;
}
.contacts-item span{
    border-bottom: 1px solid #FFFFFF;
}
