.backGround{
    height: 100%;
    width: 100%;
    background-image: url("\src\assets\img\blog\background.jpg"); 
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1500px;
    height: 100%;
    background-color:white;
}

.searchbar-container{
   height: fit-content;
   margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 80%;
}

