.backGround{
    height: 100%;
    width: 100%;
    background-image: url("C:\Users\AMD\Desktop\FlowerShopFrontend-master\src\assets\img\blog\background.jpg");  
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    text-align: center;
    max-width: 1500px;
}

