<div class="banner">
    <swiper #banner class="banner-swiper" [loop]="true" [allowTouchMove]="true"
        [autoplay]="{ delay: 500, disableOnInteraction: false }" [pagination]="{ clickable: true }" [navigation]="true">
        <div #prev class="swiper-button-prev"></div>
        <div #next class="swiper-button-next"></div>
        <ng-template data-swiper-autoplay="8000" class="swiper-slide" swiperSlide>
            <div class="slide1 slide-content">
                <div class="container">
                    <div class="text">
                        <p class="title">В НАЯВНОСТІ</p>
                        <h1>БУКЕТИ ТЮЛЬПАНІВ</h1>
                        <p class="description">Від <span style="font-weight: 599; font-size:30px;">399</span> грн</p>
                        <button mat-raised-button class="banner-button" (click)="bannerButton1()">
                            Перейти до категорії
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template data-swiper-autoplay="7500" class="swiper-slide" swiperSlide>
            <div class="slide2 slide-content">
                <div class="container">
                    <div class="text">
                        <p class="title">Не відкладайте радість на завтра
                        </p>
                        <h1>букети неперевершеної троянди</h1>

                        <p class="description2">Знижка <span style="font-weight: 599; font-size:30px">до 25%</span> грн
                        </p>
                        <button mat-raised-button class="banner-button" (click)="bannerButton2()">
                            Перейти до категорії
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>
</div>
<div class="maincontent">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center"
        fxLayoutGap="45px" fxLayoutGap.sm="45px" class="categories">
        <div fxFlex="33%" class="category">
            <img src="assets/img/cat1.jpg" alt="" (click)="cat1()">
            <div class="category-text">
                <p>Кошики</p>
            </div>
        </div>
        <div fxFlex="33%" class="category">
            <img src="assets/img/cat2.jpg" alt="" (click)="cat2()">
            <div class="category-text">
                <p>Букети</p>
            </div>
        </div>
        <div fxFlex="33%" class="category">
            <img src="assets/img/cat3.jpg" alt="" (click)="cat3()">
            <div class="category-text">
                <p>Квіти в горщиках</p>
            </div>
        </div>
    </div>

    <div class="popular">
        <h1 class=" slider-title">Популярні товари</h1>
        <swiper #popularSwiper class="popular-swiper" [config]="popularConfig">
            <ng-template class="popular-slide" *ngFor="let popular of popularProducts" swiperSlide>
                <app-store-item [product]="popular"></app-store-item>
            </ng-template>
        </swiper>
    </div>
    <div class="roses">
        <h1 class="slider-title">Букети з троянд</h1>
        <swiper #roseSwiper class="popular-swiper" [config]="roseConfig">
            <ng-template class="rose-slide" *ngFor="let product of roseProducts" swiperSlide>
                <app-store-item [product]="product"></app-store-item>
            </ng-template>
        </swiper>
    </div>
    <div class="roses">
        <h1 class="slider-title">Букети з гортензій</h1>
        <swiper #hortenzSwiper class="popular-swiper" [config]="roseConfig">
            <ng-template class="rose-slide" *ngFor="let product of chrysProducts" swiperSlide>
                <app-store-item [product]="product"></app-store-item>
            </ng-template>
        </swiper>
    </div>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Fkv49VNDDGh4qAspqO1GeqUIdXn86Aw&ehbc=2E312F"></iframe>
</div>